<html>
 <head>
    <title>IMG to PDF</title>
 </head>
 <body>
     <h1>Image to pdf Converter</h1>
     <form action="/upload" method="POST" enctype="multipart/form-data">
     <input type="file" name="avatar" />
     <button type="submit" >Convert</button>
   </form>
 </body>
</html>